body{
    background-color:lavender;
    text-align:justify;
    }
    h2{
    font-style: italic;
    size: 30px;
    color: #d67474;
    }
    p{
    font-size: 20px;
    }
    
    .blue{
    color: blue;
    }
    .red{
    color: red;
    }
    .green{
    color: green;
    }